<!-- page content -->
<div class="right_col" role="main">
  <!-- top tiles -->
  <div class="row" style="display: inline-block;">
    <div class="tile_count">
      <!-- Conteúdo da página -->
      <strong class="black">
        THOT
        <small>Telemetria IoT</small>
      </strong>,
      Telemetria Hospitalar e Operação de Telemonitoramento<a href="https://www.mksistemasbiomedicos.com.br">MK Sistemas Biomédicos</a>.
    </div>
  </div>
</div>

<!-- Biblioteca jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Script para atualizar os dados via AJAX -->
<script type="text/javascript">
  // Função para atualizar os dados a cada 10 minutos
  function atualizarDados() {
    // Requisição AJAX para buscar os dados da notificação mais recente
    $.ajax({
      url: 'buscar_notificacao.php',
      type: 'GET',
      dataType: 'json',
      success: function(data) {
        // Atualizar a div com a notificação mais recente
        $('.alert-danger').html('<strong>' + data.title + '</strong> : <small>' + data.notif_msg + ' : ' + data.data + '</small>');
      }
    });

    // Requisição AJAX para buscar os dados dos sensores
    $.ajax({
      url: 'buscar_dados_sensores.php',
      type: 'GET',
      dataType: 'html',
      success: function(data) {
        // Atualizar a div com os dados dos sensores
        $('.x_content').html(data);
      }
    });

    // Agendar próxima atualização após 10 minutos
    setTimeout(atualizarDados, 10 * 60 * 1000); // 10 minutos em milissegundos
  }

  // Iniciar a atualização inicial dos dados
  atualizarDados();
</script>
