body{
	margin: 0 auto;
	padding: 0;
	font-family: Tahoma, Arial, Helvetica;
	font-size: 14px;
	color: #fff;
	background-color:#303040;
}

.v1 {
	font: normal 1.2em Tahoma, Sans-Serif; color: #fff;
}

.v2 {
	font: normal 1.4em Tahoma, Sans-Serif; color: #fff;
}

.v3 {
	font: normal 2.5em Tahoma, Sans-Serif; color: #fff;
}

.v4 {
	font: normal 1.5em Tahoma, Sans-Serif; color: #fff;
}

.clear {
	clear: both;
}

.divpage {
	margin:0;
	width: 100%;
	margin-bottom:10em;
}

.content {
	text-align:left;
	width: 90%;
	max-width:980px;
	margin:0 auto;
}

input {
	border:none;
	padding:0.2em;
	font-size:1.2em;
	background-color:#e0e0f0;
}

div.divbar {
	position:relative;
	top:0;
	display:inline-block;
	background-color:#404050;
	margin:0;
/*	margin:2em 0 2em 0;*/
	padding:2px;
	border: solid 1px #505060;
	padding:8px;
	transition:0.3s;
	width:100%;
}

div.divbar a{
	color:#fff;text-decoration:none;
}

div.divbar a:hover{
	text-decoration:underline;
}

div.divbarlogin {
/*	right:0;
	float:right;*/
/*	position:absolute;
	right:0;
	top:0;*/
/*	background-color: #ff0;*/
}

div.ScanBarcodesBtn {
	position:relative;
	border: solid 1px #505060;
	text-align: center;
	padding:5px;
	width:30em;
	background-color:#404050;
	margin: auto;
}

div.ScanBarcodesBtn:hover {
	background-color: #889;
	cursor:pointer;
}


/*menu*/
div.menubar {
	position:relative;
	background-color:#404050;
	margin:1em 0 1em 0;
	padding:2px;
	border: solid 1px #505060;
}

.menubar ul {
	list-style-type: none;
	margin:0;
/*	margin-top:10px;*/
	padding:0;
}

.menubar li {
	width:150px;
	margin:0;
	padding:2px;
	float:left;
	font-size:14px;
	text-align:center;
	border-right:1px solid #505060;
}

.menubar li:hover {
	color: #fff;
	background: #889;
	cursor:pointer;
}

.menubar li a {
	color: #fff;
	text-decoration:none;
}

/*.menubar li#active {
	background:darkslateblue;
	color:#fff;
	text-decoration:none;
}*/
/*end menu*/

div#status {
	text-align:left;
	width: 50%;
	max-width:600px;
	margin:0 auto;
}


.popupwnd {
	position:absolute;/*fixed;*/
	z-index:1001;
	background: #505060;
	/*left:100px;
	top:100px;*/
	border: solid 1px #606070;
	text-align:left;
	padding:5px;
	overflow:hidden;
	opacity: 1;
	display:none;/*none;*/
}

.groupbox {
	border: solid 1px #ccc;
	padding:0.7em;
}

.popupwnd#BarcodeSettings input[type='text'] {
	width:2em;
}

.popupwnd#ScannerSettings input[type='text'] {
	width:4em;
}

.popupwnd#ScannerSettings table {
    border-collapse: separate;
    border-spacing: 7px;
}

/* invtable */
div#invtable {
	display:table;
	width:100%;
	border-collapse: collapse;
}

div#invtable .row{
	display:table-row;
	border: solid 1px #505060;
}

div#invtable .cell{
	display:table-cell;
	padding:0.3em;
}

div#invtable .cell1{
	width:1%;
	line-height:0;
	position:relative;
	vertical-align: middle;
}

div#invtable .cell2{
	vertical-align: middle;
}

div.discabove{
	margin:auto; position:absolute;top:50%;width:100%;text-align:center;
	color:#090;
	font-size:3.5em;
	font-weight:bold;
	text-shadow: 0 0 4px #fff;
	visibility:hidden;
}
