<div class="title_right">
    <div class="col-md-5 col-sm-5  form-group pull-right top_search">
        <div class="input-group">
            <input type="text" id="search" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
        <ul id="suggestions" class="list-group"></ul>
    </div>
</div>
<script>
    document.getElementById('search').addEventListener('keyup', function() {
        let searchTerm = this.value;
        
        if (searchTerm.length > 0) {
            fetch('search.php?term=' + searchTerm)
            .then(response => response.json())
            .then(data => {
                let suggestions = document.getElementById('suggestions');
                suggestions.innerHTML = '';
                
                data.forEach(item => {
                    let li = document.createElement('li');
                    li.classList.add('list-group-item');
                    li.textContent = item.title;
                    li.setAttribute('data-file', item.file);
                    
                    li.addEventListener('click', function() {
                        window.location.href = li.getAttribute('data-file');
                    });
                    
                    suggestions.appendChild(li);
                });
            });
        } else {
            document.getElementById('suggestions').innerHTML = '';
        }
    });

    
</script>