 <div id="termo-de-cookie" style="display: none"></div>
<script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script>


    //pegar o IP
    function getIp(callback)
    {
        function response(s)
        {
            callback(window.userip);

            s.onload = s.onerror = null;
            document.body.removeChild(s);
        }

        function trigger()
        {
            window.userip = false;

            var s = document.createElement("script");
            s.async = true;
            s.onload = function() {
                response(s);
            };
            s.onerror = function() {
                response(s);
            };

            s.src = "https://l2.io/ip.js?var=userip";
            document.body.appendChild(s);
        }

        if (/^(interactive|complete)$/i.test(document.readyState)) {
            trigger();
        } else {
            document.addEventListener('DOMContentLoaded', trigger);
        }
    }
    var ipN;
    getIp(function (ip) {
        window.ipN=ip;
        verificar()
    });
    //verificar se esta apagado
    function verificar(){
        $.post('ver_conf.php?ip='+ipN,
            function (data) {
                if (data.status === 'erro' || data.status === 'erro') {
                    $('#termo-de-cookie').empty();
                    $('#termo-de-cookie').append('<p>Com o objetivo de fornecer um serviço mais personalizado e ágil, armazenamos informações sobre como você usa este site. Esse processo é realizado por meio de pequenos arquivos de textos chamados cookies. Eles contêm pequenas quantidades de informação e são baixados para o seu computador ou outro dispositivo por um servidor deste site. O seu navegador, em seguida, envia esses cookies de volta a cada nova visita. Desta forma, podemos reconhecer e lembrar de suas preferências. Você pode encontrar informações mais detalhadas sobre cookies e como funcionam <a href="/termo-de-cookie/">em nossa página.</a></p>');
                    $('#termo-de-cookie').append('<div class="aceitecookie" id="closebtn" >Confirmar e Fechar</div>');
                    $('#termo-de-cookie').show();
                    //mensagem apagar
                    $('#closebtn').click(function () {
                        $.post('ver_conf.php?ip='+ipN+'&confirmar=1',
                            function (data) {
                                if (data.status === 'sucesso' || data.status === 'Sucesso') {
                                    $('#termo-de-cookie').hide();
                                }
                            });
                    });
                }
            });
    }

</script>